@{
    ViewData["Title"] = "About";
}

<div class="container text-center">
    <h1>Developers</h1>
    <p>Projeto desenvolvido por: </p>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <p><strong>Renato Xavier Tavares</strong></p><br>
            <img src="~/images/RenatoMexicano.png" alt="picture" class="img-responsive">
        </div>
        <div class="col-sm-4">
            <p><strong>Lucas Araújo Veloso</strong></p><br>
            <img src="~/images/VelosoEmSHOCK.png" alt="picture" class="img-responsive">
        </div>

        <div class="col-sm-4">
            <p><strong>Danilo Schmidt Bueno</strong></p><br>
            <img src="~/images/DaniloPsicopata.jpg" alt="picture" class="img-responsive">
        </div>
        
    </div>
    <div class="row row_bottom">
        <div class="col-sm-4">
            <p><strong>Vitor Gobato Gercov</strong></p><br>
            <img src="~/images/Gercov.png" alt="picture" class="img-responsive diferentao">
        </div>
        <div class="col-sm-4">
            <p><strong>Davi Oliveira Chagas</strong></p><br>
            <img src="~/images/DaviBrumadinho.png" alt="picture" class="img-responsive diferentao">
        </div>
    </div>

    <h4>O que a quarentena não faz...</h4>
</div>

<style>
    h4:last-child {
        font-size: 40px;
        font-weight: bold;
    }

    .diferentao {
        max-height: 441px;
    }
</style>
