@{
    ViewData["Title"] = "Contact";
}
<h2>Contato</h2>
<h3>Qualquer problema, entre em contato conosco!</h3>

<address>
    Estrado dos Viottis<br />
    Flavinho, FV 242424-6969<br />
    <abbr title="Phone">P:</abbr>
    (11) 7070 - 7070
</address>

<address>
    <strong>Support:</strong> <a href="mailto:081180006@ftt.cefsa.edu.br">081180006@ftt.cefsa.edu.br</a><br />
    <strong>SAC:</strong> <a href="mailto:pro6761@cefsa.edu.br">pro6761@cefsa.edu.br</a>
</address>
