/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */


body {
    margin-top: 50px;
    margin-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* NavBar */

.navbar_container {
    height: 50px;
    width: 100%;
    display: inline-block;
}

.profile {
    display: inline-flex;
    float: right;
    align-items: center;
}

.username {
    margin: 15px;
    color: #000;
}

.container_user_pic {
    height: 45px;
}

.user_pic {
    float: right;
    max-width: 100%;
    max-height: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

/*Add a dark background color with a little bit see-through */
.navbar {
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 14px;
  letter-spacing: 4px;
  opacity: 0.9;

}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
  color: #d5d5d5;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
  color: #fff ;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff ;
    background-color: #29292c;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-header

/* Dropdown */
.open .dropdown-toggle {
  color: #fff ;
  background-color: #555;
}

/* Dropdown links */
.dropdown-menu li a {
  color: #000;
}

.navbar-header img {
    margin-top: 5px;
}

    /* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    background-color: red;
}