/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
:root {
    --navbar_height: 50px;
    --navbar_text_color: rgb(255, 255, 255);
}

body {
    margin-top: var(--navbar_height);
    margin-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* NavBar */

.navbar_container {
    height: var(--navbar_height);
    width: 100%;
    display: inline-block;
}

.profile {
    display: inline-flex;
    float: right;
    align-items: center;
}

.username {
    margin: 15px;
    color: var(--navbar_text_color);
}

.container_user_pic {
    height: 45px;
}

.user_pic {
    float: right;
    max-width: 100%;
    max-height: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
