@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<div class="row">
    <div class="col-lg-3">
        <form action="@Url.Action("Login")" method="post">
            <label for="user" class="control-label">Usuário</label>
            <input type="text" name="user" class="form-control" required placeholder="Usuário..." />

            <label for="password" class="control-label">Senha</label>
            <input type="password" name="password" class="form-control" required placeholder="Senha..." />

            <br />
            <input type="submit" value="Login" class="btn btn-primary" />
            <br />
            <span class="text-danger">@ViewBag.Erro</span>
        </form>
    </div>

</div>